<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.job.mapper.HitokotoMapper">

    <resultMap id="BaseResultMap" type="com.haier.job.domain.Hitokoto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,content,type,
        create_time
    </sql>

    <insert id="batchInsertHitokotos">
        INSERT INTO t_hitokoto (content, type) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.content},#{item.type})
        </foreach>
    </insert>
</mapper>
