<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.user.dao.MenuMapper">
    <select id="listMenusByRoleId" resultType="com.haier.user.domain.Menu">
        select tm.*
        from t_menu tm
                 inner join t_role_menu trm on tm.menu_id = trm.menu_id
        where trm.role_id = #{roleId}
          and tm.status = 0
    </select>

    <select id="listMenus" resultType="com.haier.user.domain.Menu">
        select *
        from t_menu
        order by parent_id, menu_sort
    </select>
</mapper>